*{
    margin: 20px;
    padding: 30px;
}

h1{
    text-align: center;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



header {
    background-color:lightgreen;
    width: 100%;
    clear: both;
    content: '';
    display: table;
}

.menu1 {
    width: 50px;
    margin: 0 auto;
}

img {
    width: 225px;
    height: 100px;
    float: left;
    padding: 8px;
}

nav {
    float: right;
}

nav ul li {
    list-style: none;
    margin-left: 0px;
    padding: 50px 160px;
    float: left;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

nav ul li a::before {
    display:block;
    content: '';
    width: 0%;
    background: #444;
    height: 5px;
    top: 0;
    position: absolute;
    transition: width 0.5s;
}

nav ul li a:hover::before {
    width: 100%;
}

